body{

margin:0;

background-image:url("../photo/p4.jpg");

background-size:cover;

background-repeat:no-repeat;

background-position:center;

background-attachment:fixed;

}

.main{

border:1px dashed gray;

margin:20px;

padding:10px;

}

table,th,td{

border:2px solid black;

width:40%;

}

h2{

color:black;

}

h3{

color:rgb(48,92,131);

}

.dashed{

border:1px dashed gray;

margin:15px;

padding:10px;

}
