html{

background-color:rgb(255,255,255);

background-image:url("../photo/sunset_background.jpg");

background-size:cover;

background-repeat:no-repeat;

}

body{

font-family:'Courier New', monospace;

font-size:20px;

margin:0;

}

form{

width:450px;

margin:auto;

margin-top:40px;

text-shadow:0.5px 0.5px 0.5px black;

}

h2{

text-align:center;

text-shadow:2px 2px 2px black;

text-decoration:underline;
margin-right: 175px;

}

.submit{

color:rgb(0,255,0);

background-color:black;

}

.reset{

color:rgb(255,0,0);

background-color:black;

}

label,p{

color:rgb(22,29,23);

}

input,textarea{

background-color:rgb(213,219,121);

margin-top:5px;

padding:5px;

}